.signup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 20px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.signinLink {
  font-size: 14px;
}
