.transaction-page {
  width: 393px;
  margin: auto;
  height: 852px;
  border-radius: 24px;
  background-color: #f5f5f7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 53px 20px;
}
