.button {
  background-color: white;
  border: 2px solid #775ce5;
  color: #775ce5;
  border-radius: 12px;
  padding: 16px 32px;
  width: 353px;
  height: 56px;
  transition: opacity 0.4s;
  font-weight: 500;

  &-small {
    height: 46px;
    padding: 0;
  }

  &-primary {
    background-color: #775ce5;
    color: white;
  }

  &-warning {
    border-color: red;
    color: red;
  }

  &:hover,
  &-primary:hover {
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7 !important;
  }

  &:active {
    opacity: 0.3;
  }
}

.white {
  background-color: white;
  border: 1px solid #775ce5;
  color: #775ce5;
}
